#header img{
    width: 50px;
}

#main .carousel-inner img{
    max-height: 85vh;
}

.p-negro{
    color: #212529;
}

.nav{
    background-color: #212529;
}

.redes{
    list-style: none;
    margin-top: 50px;
    background-color: #212529;
}

.footer{
    background-color: #212529;
    margin-top: 50px;
    list-style: none;
}

.footer, p{
    color: white;
}

.footer .imagen-footer{
    width: 100%;
}

.detalle{
    width: 500px;
}

.compra{
    width: 100px;
}


.button-hover-addcart {
    border: 2px solid #212529;
    background: transparent;
    color: #212529;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.07rem;
    transition: all 0.2s ease-in-out;
    position: relative;
  }
  
  .button-hover-addcart span {
    transition: all 0.2s ease-in-out;
  }
  
  .button-hover-addcart .fa {
    position: absolute;
    font-size: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #dc3545;
    right: -20px;
    transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
  }
  
  .button-hover-addcart:hover {
    border-color:#dc3545;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .button-hover-addcart:hover span {
    margin-right: 20px;
    color: #dc3545;
  }
  
  .button-hover-addcart:hover .fa {
    right: 12px;
  }
  
