<%-include("./partials/head.ejs") %> 
<%-include("./partials/header.ejs") %> 

<body>

  <section>
    <div class="container">
      <div class="row mt-4">

        <form>
          <div class="form-group mr-4">
            <label for="formGroupExampleInput">NOMBRE DEL PRODUCTO</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
          </div>

        </form>


        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">DESCRIPCION DEL PRODUCTO</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>

        <form>
          <div class="form-group ml-4">
            <label for="exampleFormControlFile1">IMAGEN DEL PRODUCTO</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          PC ARMADAS
        </label>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          HARDWARE
        </label>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          SOFTWARE
        </label>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          NOTEBOOKS
        </label>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          PERIFERICOS
        </label>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          IMPRESORAS
        </label>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          ACCESORIOS
        </label>
      </div>
      <div class="form-check ml-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          COMBOS ACTUALIZACION
        </label>
      </div>
    </div>
  </section>

  <%-include("./partials/footer.ejs") %> 
</html>