<%-include("./partials/head.ejs") %> 
<%-include("./partials/header.ejs") %> 

<body>

  <section>
    <div class="container">
      <div class="row mt-4">

        

          <form action="" method="POST">
            <div class="form-group mr-4">
              <label for="formGroupExampleInput">NOMBRE DEL PRODUCTO</label>
              <input type="text" class="form-control" id="formGroupExampleInput" name="name">
            </div>
        
            <div class="form-group">
              <label for="exampleFormControlTextarea1">DESCRIPCION DEL PRODUCTO</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="description"></textarea>
            </div>
        
            <div class="form-group ml-4">
              <label for="exampleFormControlFile1">IMAGEN DEL PRODUCTO</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image" disabled>
            </div>
            
            <div>
              <label for="tipo" id="tipo">CATEGORIA:</label>
              <select name="category" id="categ">
                <option value="vacio"></option>
                <option value="placa">PLACA DE VIDEO</option>
                <option value="pcarmadas">PC ARMADAS</option>
                <option value="hardware">HARDWARE</option>
                <option value="software">SOFTWARE</option>
                <option value="notebooks">NOTEBOOKS</option>
                <option value="perifericos">PERIFERICOS</option>
                <option value="impresoras">IMPRESORAS</option>
                <option value="accesorios">ACCESORIOS</option>
                <option value="combosactualizados">COMBOS ACTUALIZADOS</option>
              </select>
            </div>
      
            
           <div class="mt-5 mr-5 d-flex justify-content-end">
              <button type="submit" class="btn btn-outline-primary">Publicar</button>
            </div>

          </form> 

      </div>    
    </div>
  </section>

  <%-include("./partials/footer.ejs") %> 
  </body>
</html>