 
 </body>
</html> 
 <!--footer-->
 <footer class="footer pb-4 pt-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg">
                <li href="#" class="text-danger">INFORMACION</li>
                <p class="info">Nuestro horario de atencion es de lunes a viernes <br>
                de 9 a 14hs y 17 a 21hs; y los sabados de 9 a 14hs</p>
            </div>

            <div class="col-12 col-lg">
                <li href="#" class="text-danger">SOBRE NOSOTROS</li>
                <p>Somos una empresa dedicada a la comercialización de productos de Computación y Tecnología. <br>
                    Nuestro objetivo es seguir creciendo, cumplir con nuestros objetivos, Compromiso y Responsabilidad. Este conjunto de valores nos llevan a ser líderes en el mercado, Liderazgo que se va afianzando año tras año gracias a la credibilidad y al esfuerzo con el que trabajamos.</p>
            </div>

            <div class="col-12 col-lg">
                <li href="#" class="text-danger">CONTACTO</li>
                <div class="iconos">
                    <a href=""><img src="/images/facebook.png" alt=""></i></a>
                    <a href=""><img src="/images/instagram.png" alt=""></a>
                    <a href=""><img src="/images/twitter.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col text-center sponsors">
        <h2 class="mt-2 mb-4">NUESTROS SPONSORS</h2>

        <img src="/images/sponsors2.png" class="imagen-footer" alt="">
    </div>
</footer>
<!--/footer-->

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



    
   


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script> -->
