 <!--footer-->
 <footer class="footer pb-4 pt-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg">
                <li href="#" class="text-danger">INFORMACION</li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eius non modi optio laborum beatae
                    eveniet ratione, nam ducimus esse ut ex recusandae laboriosam veniam dolorum quos ab impedit
                    dolore?</p>
            </div>

            <div class="col-12 col-lg">
                <li href="#" class="text-danger">SOBRE NOSOTROS</li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quidem, eos adipisci architecto
                    labore atque nobis aliquid accusantium at repellendus exercitationem, totam nesciunt, veritatis
                    itaque illum dolores autem culpa rem.</p>
            </div>

            <div class="col-12 col-lg">
                <li href="#" class="text-danger">CONTACTO</li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore a consequuntur nam iste rem
                    magnam, sed nesciunt officia dolorem explicabo consequatur possimus beatae praesentium totam,
                    soluta enim laudantium minima ea!</p>
            </div>
        </div>
    </div>

    <div class="col text-center sponsors">
        <h2 class="mt-2 mb-4">NUESTROS SPONSORS</h2>

        <img src="/images/sponsors2.png" class="imagen-footer" alt="">
    </div>
</footer>
<!--/footer-->

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



    
   


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script> -->
