<header class="conteiner header" id="main-header">   
    <div class="conteiner-fluid">
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/images/SENSE GAMING PNG.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center av">
                    <a href="/users/profile ">
                        <h5 class="mr-2"><%= (locals.user)?locals.user.nick:"Invitado" %> </h5>
                    </a>
                    <% if (typeof user != "undefined") { %>
                    <a href="/users/profile "><img src="/images/users/<%= user.avatar %> " alt="avatar" width="50px" height="50px"
                            class="avatar"></a>
                    <% } else{%>
                    <a href="/users/profile"><img src="/images/users/default.png" alt="" width="50px" height="50px"></a>
                    <% } %>
                </div>
    
                <ul class="usuario navbar-nav">
                    <% if (typeof user == "undefined") { %>
                    <li class="nav-item active li">
                        <a class="nav-link" href="/users/login">LOGIN</a>
                    </li>
                    <li class="nav-item active li">
                        <a class="nav-link" href="/users/register">REGISTRO</a>
                    </li>
                    
                    <% }else if(locals.user.rol == "admin"){ %>
                        <li class="nav-item active li">
                            <a class="nav-link" href="/users/logout">CERRAR SESION</a>
                        </li>
                        <li class="nav-item active">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    ADMINISTRADOR
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/products/add">AGREGAR PRODUCTO</a>
                                    <a class="dropdown-item" href="/products/edit">MIS PRODUCTOS</a>
                                </div>
                            </div>
                        </li>
                        <!--USUARIO-->
                        <% }else { %>
                            <li class="nav-item active">
                                <a class="nav-link" href="/users/logout">CERRAR SESION</a>
                            </li>
                            <li class="nav-item active">
                                
                                <a class="nav-link" href="/products">PRODUCTOS</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/carrito">MIS COMPRAS</a>
                            </li>
                        <% } %>
                </ul>
    
                
                
            </ul>
    
            <form action="/products/search" method="GET" class="form-inline my-2 my-lg-0" id="busca">
                <input class="form-control col-8" type="text" name="search" placeholder="Search" aria-label="Search" id="search">
                <button class="btn btn-outline-danger my-2 my-sm-0 .text-danger buscador" type="submit" id="boton">BUSCAR</button>
            </form>
        </div>
    </nav>
    
    <nav class="nav text-center">
    
        <a href="/products" class="btn btn-outline-danger col-12 col-md-12 col-lg-2">NUESTROS PRODUCTOS</a>
        <a href="/teclados" class="btn btn-outline-danger col-12 col-md-12 col-lg-2">TECLADOS</a>
        <a href="/software" class="btn btn-outline-danger col-12 col-md-12 col-lg-2">SOFTWARE</a>
        <a href="/notebook" class="btn btn-outline-danger col-12 col-md-12 col-lg-2">NOTEBOOKS</a>
        <a href="/perifericos" class="btn btn-outline-danger col-12 col-md-12 col-lg-2">PERIFERICOS</a>
    
    
        
            
                <button type="button" class="btn btn-outline-danger dropdown-toggle col-12 col-md-12 col-lg-2  " style="padding-left: 0px; padding-right: 0px;" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    MAS CATEGORIAS
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/impresoras">IMPRESORAS</a>
                    <a class="dropdown-item" href="/accesorios">ACCESORIOS</a>
                    <a class="dropdown-item" href="/monitores">MONITORES</a>
                </div>
        
        
    </nav>
    </div>
    </header>
    
    
    
    
    <!--/header-->
    
    