<%-include("./partials/head.ejs") %> 
<%-include("./partials/header.ejs") %> 

<body>  

    <section >
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-4 mb-4">Media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                            nisi
                            vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                        <img src="/images/disco sata.jpg" class="ml-3 compra mt-4 mb-4" alt="...">
                    </div>
                    <button type="button" class="btn btn-outline-danger">COMPRAR</button>
                    <button type="button" class="btn btn-outline-danger">ELIMINAR</button>

                    <h6 class="mt-4 mb-4"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z" />
                            <path
                                d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                        </svg>PRECIO $3500</h6>

                    <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                    <div class="input-group plus-minus-input">

                        <input class="input-group-field" type="number" name="quantity" value="0">

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <%-include("./partials/footer.ejs") %> 

</html>